
<? foreach ( $navigation as $nav ): ?>
    <li class="nav-header">
        <i class="<?= $nav['header']['icon'] ?>"></i>&nbsp;
        <span class="<?= $nav['header']['class_name'] ?>">
            <?= $nav['header']['label'] ?>
        </span>
    </li>

    <? foreach ( $nav['items'] as $item ): ?>
    <li>
        <a href="<?= $this -> url($item['route_name']) ?>"
           title = "<? if ( array_key_exists('title', $item) ): echo $item['title']; endif; ?>">
            <?= $item['label'] ?>
        </a>
    </li>
    <? endforeach ?>

    <? if ( $navigation -> count() > 1 ) : ?>
    <li class="divider"></li>
    <? endif ?>

<? endforeach ?>