<table class="table table-striped">

    <tr>
    <? foreach ( $headers as $header ): ?>
        <th><?= $header ?></th>
    <? endforeach; ?>
    </tr>

    <? foreach ( $entities as $entity ): ?>
    <tr>
        <? foreach ( $getMethods as $method ): ?>
        <td>
            <? if ( is_array($method) ):
                foreach( $method as $link ):
            ?>
            <a class="<?= $link['class'] ?>"
            <?
                $params = array();
               if ( array_key_exists('route_params', $link) ):
                    foreach ( $link['route_params'] as $key => $field ):
                        $params[$key] = $entity -> {'get'. ucfirst($field)}();
                    endforeach;
               endif;
            ?>
                href="<?= $this -> url($link['route_name'], $params) ?>"
                <? if ( array_key_exists('title', $link) ): ?>
                    title="<?= $link['title']?>"
                <? endif ?>
            >
                <? if ( array_key_exists('icon_class', $link) ): ?>
                   <i class="<?= $link['icon_class'] ?>"></i>&nbsp;
                <? endif ?>
                <?= $link['label'] ?>
            </a>&nbsp;
            <?
                endforeach;
            else:
                echo $entity -> {$method}();
            endif ?>
        </td>
        <? endforeach ?>
    </tr>
    <? endforeach ?>

</table>