<?= $this -> doctype(); ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?php echo $this->headTitle($form -> getName()) ?>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <?=
        $this
            -> headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
            ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
    ?>
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;
            padding: 7px 9px;
        }

    </style>

    <!-- Scripts -->
    <?php
        $this -> headScript() -> prependFile($this -> basePath() . '/scripts/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',));
        $this -> headScript() -> offsetSetFile(2, $this->basePath() . '/scripts/dojo/dojo.js');
        echo $this -> headScript();
    ?>
</head>

<body>
    <div class="container">
    <?
        echo $this -> flashMessengerWidget();

        $form
            -> setAttribute('action', $this -> url($form -> getActionRouteName()))
            -> prepare();

        echo $this -> form() -> openTag($form);

    ?>
        <h2 class="form-signin-heading">Please sign in</h2>
    <?
        echo $this -> formInput($form -> get('login'));
        echo $this -> formPassword($form -> get('password'));

        $csrf = $form -> get('csrf');
        echo $this -> formHidden($csrf);

        echo $this -> formSubmit($form -> get('submit'));
        $this -> form() -> closeTag($form);

        echo $this -> formElementErrors($csrf);
    ?>
    </div> <!-- /container -->

    <script defer src="<?php echo $this -> basePath(); ?>/scripts/scripts.js"></script>
</body>
</html>
