<section id="quick-reservation" class="aside-box round-box-2-10">
    <h1><?= $this -> translate('Complete booking') ?></h1>

    <p>
        <span class="badge"><?= $this -> translate('Attention') ?>!</span>
        <?= $this -> translate('If you reside in the territory of Ukraine, enter your mobile phone number') ?>.
    </p>

    <p>
        <?= $this -> translate('If outside, your e-mail') ?>.
    </p>

</section>