<div id="prices" class="rooms-prices sixteen columns" data-per-person-title="<?= $this -> translate('Per person') ?>" data-per-2person-title="<?= $this -> translate('Per 2 persons') ?>" data-per-add-place-title="<?= $this -> translate('Add. place') ?>">
    <?php foreach($residenceTypes as $type): ?>
    <section class="price-box" data-per-person="<?= $type -> getPayPerPerson() ?>" data-per-2person="<?= $type -> getPayPer2Persons() ?>" data-per-add-place="<?= $type -> getPayPerAddPlace() ?>">
        <h1>
            <a title="<?= $type -> getTitle() ?>"
               href="<?= $this -> url('view_residence', array('type' => $type -> getAlias())); ?>">
                <?= $type -> getTitle() ?>
            </a>
        </h1>
        <p class="price">
            <?= $type -> getPayPerPerson() ?> <?=$this -> translate('uah') ?> <br/> <?= $this -> translate('Per person') ?>
        </p>
    </section>
    <?php endforeach ?>
</div>

<script>
require(['dojo/query', 'dojo/domReady!'], function(query) { "use strict";

    var pricesNode = document.getElementById('prices');

    var pricesAttrsNames = ['data-per-person', 'data-per-2person', 'data-per-add-place'];
    var pricesTitles = [], i, len = pricesAttrsNames.length;

        for (i = 0; i < len; i++) {
            pricesTitles[i] = pricesNode.getAttribute(pricesAttrsNames[i] + '-title')
        }

        i = 0;
        var priceContainers = query('.price-box', pricesNode);

        var changePrice = function() {

        var price, title;

            priceContainers.forEach(function(node) {
            price = node.getAttribute(pricesAttrsNames[i]);
                title = pricesTitles[i];

                query('.price', node)[0].innerHTML = [price, '<?=$this -> translate('uah') ?> <br/>', title].join(' ');
            });

            i = (i === 2) ? 0: i + 1;
            setTimeout(changePrice, 3000);
        }

        changePrice();
    })
</script>
