<section id="quick-reservation" class="aside-box round-box-2-10">
    <h1><?= $this -> translate('Book a room') ?></h1>

    <form action="<?= $this -> url('reservation') ?>" method="post" enctype="application/x-www-form-urlencoded">
        <dl>
            <dt>
                <label for="check-in"><?= $this -> translate('Check in') ?>:</label>
            </dt>
            <dd>
                <input id="check-in"
                       name="check_in"
                       class="calendar-icon"
                       type="text"
                       required="required"
                       readonly="readonly"
                       value="<?= date('d.m.Y', strtotime('now')) ?>">
                <div id="check-in-calendar"></div>
            </dd>

            <dt>
                <label for="check-out"><?= $this -> translate('Check out') ?>:</label>
            </dt>
            <dd>
                <input id="check-out"
                       name="check_out"
                       class="calendar-icon"
                       type="text"
                       required="required"
                       readonly="readonly"
                       value="<?= date('d.m.Y', strtotime('+1 day')) ?>">
                <div id="check-out-calendar"></div>
            </dd>
        </dl>
        <p class="form-submit">
            <input type="submit" value="<?= $this -> translate('Submit a request') ?>" name="submit">
        </p>
    </form>
</section>