<?
$pageTitle = 'Delete image';
$this -> headTitle($pageTitle);
?>
<h1>
    <?= $pageTitle ?>
</h1>
<p class="thumbnails">
    <img src="<?= $image -> getThumbsPaths() -> getRelativePathToMedium() ?>"
         alt="<?= $image -> getAlt() ?>"
         title="<?= $image -> getTitle() ?>">

</p>
<p>
    <?= $this -> translate('Are you sure you want to delete this image?') ?>
</p>
<hr>
<form action="<?= $this -> url('manage_gallery/delete', array('id' => $image -> getId())) ?>"
      method="post">

    <input name="id" value="<?= $image -> getId() ?>" type="hidden">
    <input class="btn" name="confirm" value="yes" type="submit">
    <input class="btn btn-danger" name="confirm" value="no" type="submit">
</form>