<?
    $this -> headTitle($form -> getName());

    $id = $form -> get('id') -> getValue();
    $form
        -> setAttribute('action', $this -> url($form -> getActionRouteName(), array('id' => $id)))
        -> prepare();
    echo $this -> form() -> openTag($form);
?>
    <legend><?= $this -> escapeHtml($form -> getName()) ?></legend>

<? $title = $form -> get('title') ?>
    <label><?= $this -> formLabel($title) ?></label>
<?
    echo $this -> formInput($title);
    echo $this -> formElementErrors($title, array('class' => 'errors'));

    $alt = $form -> get('alt');
?>
    <label><?= $this -> formLabel($alt) ?></label>
<?
    echo $this -> formInput($alt);
    echo $this -> formElementErrors($alt, array('class' => 'errors'));

    echo $this -> formHidden($form -> get('id'));

    $csrf = $form -> get('csrf');
    echo $this -> formHidden($csrf);
?>
    <hr>
<?
    echo $this -> formSubmit($form -> get('submit'));
    echo $this -> formElementErrors($csrf, array('class' => 'errors'));

    echo $this -> form() -> closeTag($form);
