<ul class="images-list">

    <? foreach ($images as $image):?>
    <li>
        <a href="<?= $this -> basePath($image -> getThumbsPaths() -> getRelativePathToMedium()) ?>">
            <img src="<?= $this -> basePath($image -> getThumbsPaths() -> getRelativePathToSmall()) ?>"
                 alt="<?= $image -> getAlt() ?>"
                 title="<?= $image -> getTitle() ?>">
        </a>
    </li>
    <? endforeach ?>
</ul>