<?
    $this -> inlineScript() -> offsetSetFile(1, $this->basePath() . '/scripts/main-gallery.js');
?>

<section id="content" role="main" class="twelve columns alpha">

    <div id="gallery" class="clearfix" data-uploadpath="<?= $this -> uploadPath ?>">

    <? if (count($images)): ?>
        <div class="image-viewer">
            <? $image = current($images); ?>
            <img src="<?= $this -> basePath($image -> getThumbsPaths() -> getRelativePathToMedium()) ?>"
                 alt="<?= $image -> getAlt() ?>">
            <div class="image-title">
                <span class="nav-icons-arrow-left prev-image"></span>
                <span class="title"><?= $image -> getTitle() ?></span> - <span class="count"><?= $paging -> firstItemNumber . '/' . $paging -> totalItemCount ?></span> <span class="expand nav-icons-popup"></span>
                <span class="nav-icons-arrow-right next-image"></span>
            </div>
        </div>

        <div class="aside-images-list">

            <ul class="images-list">
                <? foreach($images as $image): ?>
                <li>
                    <a href="<?= $this -> basePath($image -> getThumbsPaths() -> getRelativePathToMedium()) ?>">
                        <img src="<?= $this -> basePath($image -> getThumbsPaths() -> getRelativePathToSmall()) ?>"
                             alt="<?= $image -> getAlt() ?>"
                             title="<?= $image -> getTitle() ?>">
                    </a>
                </li>
                <? endforeach; ?>
            </ul>

            <ul class="images-paging">
            <? foreach ($paging -> pagesInRange as $page): ?>
                <? if ($paging -> current == $page): ?>
                <li class="active">
                    <a href="<?= $this -> url('gallery/query', array(), array('query' => array('page' => $page))) ?>">
                        <?= $page ?>
                    </a>
                </li>
                <? else: ?>
                <li>
                    <a href="<?= $this -> url('gallery/query', array(), array('query' => array('page' => $page))) ?>">
                        <?= $page ?>
                    </a>
                </li>
                <? endif ?>
            <? endforeach; ?>
            </ul>
        </div>
    <? endif; ?>

    </div>
</section>