<?php
    $title = $this -> translate('Residence images');
    $this -> headTitle($title);
?>

<p>
    <a class="btn btn-info"
       href="<?= $this -> url('manage_gallery/upload') ?>">
        <i class="icon-upload icon-white"></i> Upload image
    </a>
</p>

<? if (count($images)): ?>
<ul class="thumbnails">
    <? foreach ( $images as $image ): ?>
    <li class="span2 text-center">
        <p>
            <a class="thumbnail" href="<?= $this -> basePath() . $image -> getRelativePath() ?>">
                <img src="<?= $this -> basePath() . $image -> getThumbsPaths() -> getRelativePathToMedium() ?>"
                     alt="<?= $image -> getAlt() ?>"
                     title="<?= $image -> getTitle() ?>" >
            </a>
        </p>

        <p>
            <a class="btn btn-mini btn-info"
               href="<?= $this -> url('manage_gallery/edit/send', array('id' => $image -> getId())) ?>">
                <i class="icon-pencil icon-white"></i> Edit
           </a>

            <a class="btn btn-mini btn-danger"
               href="<?= $this -> url('manage_gallery/delete', array('id' => $image -> getId())) ?>">
                <i class="icon-remove icon-white"></i> Remove
            </a>
        </p>
    </li>
    <? endforeach ?>
</ul>
<? endif ?>