<?
    $this -> headTitle($form -> getName());

    $form
        -> setAttribute('action', $this -> url($form -> getActionRouteName()))
        -> prepare();
    echo $this -> form() -> openTag($form);
?>
    <legend><?= $this -> escapeHtml($form -> getName()) ?></legend>

    <? $imageFile = $form -> get('image_file'); ?>
    <label><?= $this -> formLabel($imageFile) ?></label>
<?
    echo $this -> formFile($imageFile);
    echo $this -> formElementErrors($imageFile, array('class' => 'errors'));

    $title = $form -> get('title');
?>
    <label><?= $this -> formLabel($title) ?></label>
<?
    echo $this -> formInput($title);
    echo $this -> formElementErrors($title, array('class' => 'errors'));

    $alt = $form -> get('alt');
?>
    <label><?= $this -> formLabel($alt) ?></label>
<?
    echo $this -> formInput($alt);
    echo $this -> formElementErrors($alt, array('class' => 'errors'));

    $csrf = $form -> get('csrf');
    echo $this -> formHidden($csrf);
?>
    <hr>
<?
    echo $this -> formSubmit($form -> get('submit'));
    echo $this -> formElementErrors($csrf, array('class' => 'errors'));

    echo $this -> form() -> closeTag($form);
