<?
    $this -> headTitle($form -> getName());

    $id = null;
    if ( $form -> has('id') ):
        $id = $form -> get('id') -> getValue();
    endif;

    $form
        -> setAttribute('action', $this -> url($form -> getActionRouteName(), array('id' => $id)))
        -> prepare();

    echo $this -> form() -> openTag($form);

    if ( $form -> has('id') ):
        echo $this -> formHidden($form -> get('id'));
    endif;
?>
    <legend><?= $this -> escapeHtml($form -> getName()); ?></legend>

    <? $label = $form -> get('label'); ?>
    <label><?= $this -> formLabel($label); ?></label>
    <?
        echo $this -> formInput($label);
        echo $this -> formElementErrors($label, array('class' => 'errors'));

        $title = $form -> get('title');
    ?>
    <label><?= $this -> formLabel($title); ?></label>
    <?
        echo $this -> formInput($title);
        echo $this -> formElementErrors($title, array('class' => 'errors'));

        $desc = $form -> get('description');
    ?>
    <label><?= $this -> formLabel($desc); ?></label>
    <?
        echo $this -> formTextarea($desc);
        echo $this -> formElementErrors($desc, array('class' => 'errors'));

        $ppp = $form -> get('pay_per_person');
    ?>
    <label><?= $this -> formLabel($ppp); ?></label>
    <?
        echo $this -> formInput($ppp);
        echo $this -> formElementErrors($ppp, array('class' => 'errors'));

        $pp2p = $form -> get('pay_per2_persons');
    ?>
    <label><?= $this -> formLabel($pp2p); ?></label>
    <?
        echo $this -> formInput($pp2p);
        echo $this -> formElementErrors($pp2p, array('class' => 'errors'));

        $addPlace = $form -> get('pay_per_add_place');
    ?>
    <label><?= $this -> formLabel($addPlace); ?></label>
    <?
        echo $this -> formInput($addPlace);
        echo $this -> formElementErrors($addPlace, array('class' => 'errors'));

        $order = $form -> get('order');
    ?>
    <label><?= $this -> formLabel($order); ?></label>
    <?
        echo $this -> formInput($order);
        echo $this -> formElementErrors($order, array('class' => 'errors'));

        $csrf = $form -> get('csrf');
        echo $this -> formHidden($csrf);
    ?>
    <hr>
    <?
        echo $this -> formSubmit($form -> get('submit'));
        echo $this -> formElementErrors($csrf, array('class' => 'errors'));

    echo $this -> form() -> closeTag($form);

