<?
$pageTitle = 'Delete type';
$this -> headTitle($pageTitle);
?>
<h1>
    <?= $pageTitle ?>
</h1>
<p>
    <?= $this -> translate('Are you sure you want to delete type:') ?>
    '<?= $this -> escapeHtml($type -> getLabel()); ?>' ?
</p>
<hr>
<form action="<?= $this -> url('manage_residence/delete', array('id' => $type -> getId())) ?>"
      method="post">

    <input name="id" value="<?= $this -> escapeHtml($type -> getId()) ?>" type="hidden">
    <input class="btn" name="confirm" value="yes" type="submit">
    <input class="btn btn-danger" name="confirm" value="no" type="submit">
</form>