<?
if ($page):
    $this -> headTitle($page -> getHeadTitle());
    $this -> headMeta()
        -> appendName('description', $page -> getMetaDescription())
        -> appendName('author', $page -> getMetaAuthor());
endif;
?>

<section id="content" role="main" class="twelve columns alpha">

    <? if ($page): ?>

        <?
        $cssClass = $page -> getCssClass();
        $content  = $page -> getContent();
        if ($cssClass):
            $content = sprintf('<div class="%s">%s</div>', $cssClass, $content);
        endif;
        ?>

        <?= $content ?>
    <? endif ?>

     <div class="table">
        <div class="table-head">
            <div class="col" data-label="<?= $this -> translate('Category') ?>">
                <?= $this -> translate('Category') ?>
            </div>
            <div class="col" data-label="<?= $this -> translate('Per person') ?>">
                <?= $this -> translate('Per person') ?>
            </div>
            <div class="col" data-label="<?= $this -> translate('Per 2 persons') ?>">
                <?= $this -> translate('Per 2 persons') ?>
            </div>
            <div class="col" data-label="<?= $this -> translate('Add. place') ?>">
                <?= $this -> translate('Add. place') ?>
            </div>
        </div>

        <? foreach ($types as $type): ?>
        <div class="r">
            <div class="col" data-label="<?= $this -> translate('Category') ?>">
                <a title="<?= $type -> getTitle() ?>"
                   href="<?= $this -> url('view_residence', array('type' => $type -> getAlias())); ?>">
                    <?= $type -> getTitle() ?>
                </a>
            </div>
            <div class="col" data-label="<?= $this -> translate('Per person') ?>">
                <?= $type -> getPayPerPerson() ?> <?= $this -> translate('uah') ?>
            </div>
            <div class="col" data-label="<?= $this -> translate('Per 2 persons') ?>">
                <?= $type -> getPayPer2Persons() ?> <?= $this -> translate('uah') ?>
            </div>
            <div class="col" data-label="<?= $this -> translate('Add. place') ?>">
                <?= $type -> getPayPerAddPlace() ?> <?=$this -> translate('uah') ?>
            </div>
        </div>
        <? endforeach; ?>
    </div>

</section>