<?
$this -> headTitle($type -> getTitle());
$this -> headMeta()
    -> appendName('description', $type -> getDescription());
?>

<section id="content" role="main" class="twelve columns alpha">

    <h1><?= $type -> getTitle() ?></h1>

    <p>
        <?= $type -> getDescription() ?>
    </p>

    <? if (count($images)): ?>
    <ul class="thumbnails">
        <? foreach ( $images as $image ): ?>
        <li class="three columns">
            <? $pi = pathinfo($image); ?>
            <a class="thumbnail" href="<?= $uploadPath . '/' . $pi['basename'] ?>">
                <img src="<?= $uploadPath . '/' . $thumbDir . '/' . $pi['basename'] ?>" alt="<?= $type -> getTitle() ?>">
            </a>
        </li>
        <? endforeach ?>
    </ul>
    <? endif ?>

</section>