html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -40px;
}

#push,
footer {
    height: 30px;
}

footer hr {
    margin: 5px 0;
}

footer p {
    margin: 0 20px;
}

.under-navbar {
    margin-top: 60px;
}

.errors {
    color: #ff0000;
    list-style: none;
    margin: 0 0 10px 0;
}

#langs {
    list-style: none outside none;
    margin: 0;
}

#langs li {
    display: inline-block;
    margin: 0 2px;
}

#langs a {
    text-decoration: underline;
}