<?
    $this -> headTitle($form -> getName());

    $id = null;
    if ( $form -> has('id')):
        $id = $form -> get('id') -> getValue();
    endif;

    $form
        -> setAttribute('action', $this -> url($form -> getFormAction() , ['id' => $id]))
        -> prepare();

    echo $this -> form() -> openTag($form);
?>
    <legend><?= $this -> escapeHtml($form -> getName()) ?></legend>

    <? $alias = $form -> get('alias'); ?>
    <label><?= $this -> formLabel($alias) ?></label>
    <?
        echo $this -> formInput($alias);
        echo $this -> formElementErrors($alias, array('class' => 'errors'));

        $label = $form -> get('label');
    ?>
    <label><?= $this -> formLabel($label) ?></label>
    <?
        echo $this -> formInput($label);
        echo $this -> formElementErrors($label, array('class' => 'errors'));

        $url = $form -> get('url');
    ?>
    <label><?= $this -> formLabel($url) ?></label>
    <?
        if (!$id):
            $type = $form -> get('type');
            if ($type -> getValue() === \CMSNav\Form\Add::ABSOLUTE_URL):
                echo $this -> formUrl($url);
            elseif ($type -> getValue() === \CMSNav\Form\Add::CMS_PAGE):
                echo $this -> formSelect($url);
            else:
                echo $this -> formInput($url);
            endif;
        else:
            echo $this -> formInput($url);
        endif;
        echo $this -> formElementErrors($url);

        $parent = $form -> get('parent');
    ?>
    <label><?= $this -> formLabel($parent); ?></label>
    <?
        echo $this -> formSelect($parent);
        echo $this -> formElementErrors($parent);

        $position = $form -> get('position');
    ?>
    <label><?= $this -> formLabel($position) ?></label>
    <?
        echo $this -> formInput($position);
        echo $this -> formElementErrors($position, array('class' => 'errors'));

        $cssClass = $form -> get('css_class');

    ?>
    <label><?= $this -> formLabel($cssClass) ?></label>
    <?
        echo $this -> formInput($cssClass);
        echo $this -> formElementErrors($cssClass, array('class' => 'errors'));

        $mobileCssClass = $form -> get('mobile_css_class');
    ?>
    <label><?= $this -> formLabel($mobileCssClass) ?></label>
    <?
        echo $this -> formInput($mobileCssClass);
        echo $this -> formElementErrors($mobileCssClass, array('class' => 'errors'));

        if ( $form -> has('id') ):
            echo $this -> formHidden($form -> get('id'));
        else:
            echo $this -> formHidden($type);
        endif;

        $csrf = $form -> get('csrf');
        echo $this -> formHidden($csrf);
    ?>
    <hr>
    <?
        echo $this -> formSubmit($form -> get('submit'));
        echo $this -> formElementErrors($csrf, array('class' => 'errors'));

    echo $this -> form() -> closeTag($form);

