<?
    $this -> headTitle('Navigation');
?>
<p>
    <a class="btn btn-mini"
       href="<?= $this -> url('manage_navigation/add/relative_url') ?>">
        <i class="icon-retweet"></i> Add Relative Url
    </a>
    &nbsp;
    <a class="btn btn-mini"
       href="<?= $this -> url('manage_navigation/add/absolute_url') ?>">
        <i class="icon-share"></i>Add Absolute Url
    </a>
    &nbsp;
    <a class="btn btn-mini"
       href="<?= $this -> url('manage_navigation/add/cms_page') ?>">
        <i class="icon-file"></i>Add CMS Page
    </a>
</p>

<table class="table table-striped">
    <tr>
        <th>Alias</th>
        <th>Parent</th>
        <th>Position</th>
        <th>Css class</th>
        <th>Mobile css class</th>
        <th>Url</th>
        <th>Action</th>
    </tr>

<?
    foreach ($entities as $entity):
        ?>
        <tr>
            <td>
                <?= $entity['alias'] ?>
            </td>
            <td>
                <?= $entity['parent'] ?>
            </td>
            <td>
                <?= $entity['position'] ?>
            </td>
            <td>
                <?= $entity['css_class'] ?>
            </td>
            <td>
                <?= $entity['mobile_css_class'] ?>
            </td>
            <td>
                <?= $entity['url'] ?>
            </td>
            <td>
                <a class="btn btn-mini"
                   href="<?= $this -> url('manage_navigation/taxonomy', array('navigation_item_id' => $entity['id'])) ?>">
                    <i class="icon-tags"></i> Tags
                </a>&nbsp;

                <a class="btn btn-mini btn-info"
                   href="<?= $this -> url('manage_navigation/edit/send', array('id' => $entity['id'])) ?>">
                    <i class="icon-edit icon-white"></i> Edit
                </a>&nbsp;

                <a class="btn btn-mini btn-danger"
                   href="<?= $this -> url('manage_navigation/delete/send', array('id' => $entity['id'])) ?>">
                    <i class="icon-remove-sign icon-white"></i> Delete
                </a>
            </td>
        </tr>
    <? endforeach; ?>
</table>
