<?
$this -> headTitle($this -> translate('Sitemap'));
$this -> headMeta()
    -> appendName('description', '');
?>

<section id="content" role="main" class="twelve columns alpha sitemap">

    <h1><?= $this -> translate('Sitemap') ?></h1>

    <?= $this -> navigation('Navigation') -> menu() ?>

</section>