<?
    $this -> headTitle($form -> getName());

    $id = null;
    if ( $form -> has('id') ):
        $id = $form -> get('id') -> getValue();
    endif;

    $form
        -> setAttribute('action', $this -> url($form -> getActionRouteName(), array('id' => $id)))
        -> prepare();

    echo $this -> form() -> openTag($form);

    if ( $form -> has('id') ):
        echo $this -> formHidden($form -> get('id'));
    endif;
?>
    <legend><?= $this -> escapeHtml($form -> getName()); ?></legend>

    <? $role = $form -> get('role'); ?>
    <label><?= $this -> formLabel($role); ?></label>
<?
    echo $this -> formInput($role);
    echo $this -> formElementErrors($role, array('class' => 'errors'));

    $parentId = $form -> get('parent_id');
?>
    <label><?= $this -> formLabel($parentId); ?></label>
<?
    echo $this -> formSelect($parentId);
    echo $this -> formElementErrors($parentId, array('class' => 'errors'));

    $csrf = $form -> get('csrf');
    echo $this -> formHidden($csrf);
?>
    <hr>
<?
    echo $this -> formSubmit($form -> get('submit'));
    echo $this -> formElementErrors($csrf, array('class' => 'errors'));

    echo $this -> form() -> closeTag($form);