<?
    $this -> headTitle($form -> getName());
?>
<h1>
    <?= $form -> getName() ?>
</h1>
<p>
    <?= $this -> translate('Are you sure you want to delete this role:') ?>
    '<?= $this -> escapeHtml($form -> get('role') -> getValue()); ?>' ?
</p>
<hr>
<?
    $id = $form -> get('id') -> getValue();
    $form
        -> setAttribute('action', $this -> url($form -> getActionRouteName(), ['id' => $id]))
        -> prepare();

    echo $this -> form() -> openTag($form);

        echo $this -> formHidden($form -> get('id'));
        echo $this -> formHidden($form -> get('role'));

        $csrf = $form -> get('csrf');
        echo $this -> formHidden($csrf);

        $submit = $form -> get('confirm');
        echo $this -> formSubmit($submit);

        echo '&nbsp;';

        $submit -> setValue('no') -> setAttribute('class', 'btn');
        echo $this -> formSubmit($submit);

        echo $this -> formElementErrors($csrf, ['class' => 'errors']);

    echo $this -> form() -> closeTag($form);
