<?
    $title = $this -> translate('Roles');
    $this -> headTitle($title);
?>
<p>
    <a class="btn btn-mini"
       href="<?= $this -> url('manage_roles/add/send') ?>">
        <i class="icon-plus-sign"></i> Add Role
    </a>
</p>

<table class="table table-striped">

    <tr>
        <th>Roles</th>
        <th>Parent roles</th>
        <th>Actions</th>
    </tr>

    <? foreach ($entities as $entity): ?>
    <tr>
        <td>
            <?= $entity['role'] ?>
        </td>
        <td>
            <?= $entity['parent_role'] ?>
        </td>
        <td>
            <a class="btn btn-mini btn-info"
               href="<?= $this -> url('manage_roles/edit/send', ['id' => $entity['id']]) ?>"
            >
                <i class="icon-edit icon-white"></i>&nbsp;Edit
            </a>
            &nbsp;
            <a class="btn btn-mini btn-danger"
               href="<?= $this -> url('manage_roles/delete/send', ['id' => $entity['id']]) ?>"
                    >
                <i class="icon-remove-sign icon-white"></i>&nbsp;Delete
            </a>
        </td>
    </tr>
    <? endforeach; ?>

</table>
