<!DOCTYPE HTML>
<html lang="<?= \Locale::getPrimaryLanguage(\Locale::getDefault()) ?>">
<head>
    <meta charset="UTF-8">
    <title>
        <?= $this -> translate('Online ordering') ?>
    </title>
</head>
<body>
    <h1><?= $this -> translate('Online ordering') ?></h1>
    <p>
        <?= $this -> translate('Reservation room from')?>
        <strong><?= $check_in ?></strong> <?= $this -> translate('to') ?>
        <strong><?= $check_out ?></strong>.
    </p>
    <p>
        <?= $this -> translate('Reservation room type') ?> - <strong>"<?= $residence_type ?>"</strong>.
    </p>

    <h2><?= $this -> translate("Customer's properties") ?></h2>
    <dl>
        <dt><?= $this -> translate('Name') ?>:</dt>
        <dd><?= $client_name ?></dd>
        <dt><?= $this -> translate('Phone') ?>:</dt>
        <dd><?= $client_phone ?></dd>
        <dt><?= $this -> translate('Email') ?>:</dt>
        <dd><?= $client_email ?></dd>
    </dl>
</body>
</html>


