<?
    $title = $this -> translate('Oops! page not found ');
    $this -> headTitle($title);
?>
<section id="content" role="main" class="twelve columns alpha">

    <div class="error-page error-404">
        <h1>
            <?= $title ?>
        </h1>

        <p class="goto-home">
            <a href="<?= $this -> url('home') ?>">
                <?= $this -> translate('Homepage') ?>
            </a>
        </p>
    </div>

</section>