<ul id="langs">
<? foreach ( $languages as $lang ): ?>
    <?
        if ($current === $lang):
            if ($isCurrentVisible):
    ?>
        <li class="lang-<?= $lang ?> active"><?= strtoupper($lang) ?></li>
    <?
            endif;
        else:
    ?>
        <li class="lang-<?= $lang ?>">
            <a rel="alternate" hreflang="<?= $lang ?>" href="<?= $this -> url($routeName, array_merge($params, array('lang' => $lang))) ?>">
                <?= strtoupper($lang) ?>
            </a>
        </li>
    <? endif ?>
<? endforeach ?>
</ul>