
<section id="content" role="main" class="twelve columns alpha">

    <h1><?= $this -> translate('Reservation') ?></h1>

<? if ($message): ?>
    <p class="message">
        <?= $message ?>
    </p>
<?php
    endif;

    $this -> headTitle($form -> getName());

    $form
        -> setAttribute('action', $this -> url($form -> getActionRouteName()))
        -> prepare();

    echo $this -> form() -> openTag($form);
?>

<dl>
    <? $checkIn = $form -> get('check_in'); ?>
    <dt>
        <?= $this -> formLabel($checkIn) ?>
    </dt>
    <dd class="calendar-wrapper">
<?
    echo $this -> formInput($checkIn);
    echo $this -> formElementErrors($checkIn);
?>
        <div id="check-in-calendar"></div>
    </dd>
    <dt>
        <?
            $checkOut = $form -> get('check_out');
            echo $this -> formLabel($checkOut);
        ?>
    </dt>
    <dd class="calendar-wrapper">
<?
    echo $this -> formInput($checkOut);
    echo $this -> formElementErrors($checkOut);
?>
        <div id="check-out-calendar"></div>
    </dd>
    <dt>
        <?
            $residenceType = $form -> get('residence_type');
            echo $this -> formLabel($residenceType);
        ?>
    </dt>
    <dd>
<?
    echo $this -> formSelect($residenceType);
    echo $this -> formElementErrors($residenceType);

    $clientName = $form -> get('client_name');
?>
    </dd>
    <dt>
        <?= $this -> formLabel($clientName) ?>
    </dt>
    <dd>
<?
    echo $this -> formInput($clientName);
    echo $this -> formElementErrors($clientName);

    $phone = $form -> get('client_phone');
?>
    </dd>
    <dt>
        <?= $this -> formLabel($phone); ?>
    </dt>
    <dd>
<?
    echo $this -> formInput($phone);
    echo $this -> formElementErrors($phone);

    $email = $form -> get('client_email');
?>
    </dd>
    <dt>
        <?= $this -> formLabel($email) ?>
    </dt>
    <dd>
<?
    echo $this -> formEmail($email);
    echo $this -> formElementErrors($email);
?>
    </dd>
</dl>

<p>
<?
    $csrf = $form -> get('csrf');
    echo $this -> formHidden($csrf);

    echo $this -> formSubmit($form -> get('submit'));
    echo $this -> formElementErrors($csrf);
?>
</p>
<?= $this -> form() -> closeTag($form);?>
</section>