<section id="content" role="main" class="twelve columns alpha successful-reservation">

    <h1>
        <?= $this -> translate('Request for reservation') ?>
    </h1>

    <h2>
        <?= $this -> translate('You have applied for a reservation') ?>:
    </h2>
    <dl class="clearfix">
        <dt><?= $this -> translate('Residence type:') ?></dt>
        <dd><?= $this -> escapeHtml($reservationData['residence_type'])?></dd>

        <dt><?= $this -> translate('Check in:') ?></dt>
        <dd><?= $this -> escapeHtml($reservationData['check_in']) ?></dd>

        <dt><?= $this -> translate('Check out:') ?></dt>
        <dd><?= $this -> escapeHtml($reservationData['check_out']) ?></dd>
    </dl>

    <h2>
        <?= $this -> translate('Your personal data') ?>
    </h2>

    <dl class="clearfix">
        <dt><?= $this -> translate('Name:') ?></dt>
        <dd><?= $this -> escapeHtml($reservationData['client_name'])?></dd>

        <dt><?= $this -> translate('Phone:') ?></dt>
        <dd><?= $this -> escapeHtml($reservationData['client_phone']) ?></dd>

        <dt><?= $this -> translate('Email:') ?></dt>
        <dd><?= $this -> escapeHtml($reservationData['client_email']) ?></dd>
    </dl>

    <p>
        <span class="badge"><?= $this -> translate('Attention') ?>!</span>
        <?= $this -> translate('If, within two days, you do not call the staff of our receptions, please contact us by phone. Perhaps for some reason the order was not sent to us, or the details of the customer were not true') ?>.
    </p>

</section>