<?
    $pageTitle = '';
    if ( $form -> has('id') ):
        $pageTitle = $this -> translate('Edit locale');
    else:
        $pageTitle = $this -> translate('Add locale');
    endif;
    $this -> headTitle($pageTitle);
    echo $this -> flashMessengerWidget();

    $id = null;
    if ( $form -> has('id') ):
        $id = $form -> get('id') -> getValue();
    endif;

    $form
        -> setAttribute('action', $this -> url($id ? 'manage_locales/edit/edit_data' : 'manage_locales/add/set_data', array('id' => $id)))
        -> prepare();

    echo $this -> form() -> openTag($form);

    if ( $form -> has('id') ):
        echo $this -> formHidden($form -> get('id'));
    endif;
    ?>

    <legend><?= $this -> escapeHtml($pageTitle) ?></legend>

    <? $locale = $form -> get('locale') ?>
    <label><?= $this -> formLabel($locale) ?></label>
    <?
        echo $this -> formInput($locale);
        echo $this -> formElementErrors($locale)
    ?>

    <? $alias = $form -> get('alias') ?>
    <label><?= $this -> formLabel($alias) ?></label>
    <?
        echo $this -> formInput($alias);
        echo $this -> formElementErrors($alias);


        $isEnable = $form -> get('is_enable');
        echo $this -> formRadio($isEnable);
        $this -> formElementErrors($isEnable);


        $csrf = $form -> get('csrf');
        echo $this -> formHidden($csrf);
    ?>
    <hr>
    <?
        echo $this -> formSubmit($form -> get('submit'));
        echo $this -> formElementErrors($csrf);

    echo $this -> form() -> closeTag($form)
?>