<?
    $pageTitle = 'Delete locale';
    $this -> headTitle($pageTitle);
?>
    <h1>
        <?= $pageTitle ?>
    </h1>
    <p>
        <?= $this -> translate('Are you sure that you want to delete locale:') ?>
        '<?= $this -> escapeHtml($locale -> getLocale()); ?>' ?
    </p>
    <hr>
    <form action="<?= $this -> url('manage_locales/delete', array('id' => $locale -> getId())) ?>"
          method="post">

            <input name="id" value="<?= $this -> escapeHtml($locale -> getId()) ?>" type="hidden">
            <input class="btn" name="confirm" value="yes" type="submit">
            <input class="btn btn-danger" name="confirm" value="no" type="submit">
    </form>
