<?
    $title = $this -> translate('Locales');
    $this -> headTitle($title);
?>

<table class="table table-striped">
    <tr>
        <th>
            <?php echo $this -> translate('Locale') ?>
        </th>
        <th>
            <?php echo $this -> translate('Alias') ?>
        </th>
        <th>
            <?php echo $this -> translate('Enable') ?>
        </th>
        <th>
            <?php echo $this -> translate('Actions') ?>
        </th>
    </tr>

<?
if ( count($locales) ):
    foreach ($locales as $locale):
?>
    <tr>
        <td>
            <?= $locale -> getLocale() ?>
        </td>
        <td>
            <?= $locale -> getAlias() ?>
        </td>
        <td>
            <?= $locale -> isEnable() ? 'Yes' : 'No' ?>
        </td>
        <td>
            <a class="btn btn-mini btn-info" href="<?= $this -> url('manage_locales/edit/edit_data', array('id' => $locale -> getId())) ?>">
                <?= $this -> translate('edit') ?>
            </a>&nbsp;

            <a class="btn btn-mini btn-danger"
               href="<?= $this -> url('manage_locales/delete', array('id' => $locale -> getId())) ?>">
                <?= $this -> translate('delete') ?>
            </a>
        </td>
    </tr>

<?
    endforeach;
endif;
?>

</table>
