<?
    $menu = $this -> navigation('Navigation') -> findByTag('aside');
?>

<nav role="navigation" class="aside-box round-box-2-10">
    <ul class="aside-nav">
        <? foreach ($menu as $item): ?>
        <li>
             <a href="<?= $item -> getHref() ?>" data-mobile-icon="<?= $item -> getMobileClass(); ?>">
                 <span class="<?= $item -> getClass() ?>"><?= $item -> getLabel() ?></span>
             </a>
         </li>
        <? endforeach ?>
    </ul>
</nav>

<!--<li>-->
<!--    <a href="#">-->
<!--        <span class="nav-icons-book">Гостевая</span>-->
<!--    </a>-->
<!--</li>-->
