<?
$menu = $this -> navigation('Navigation') -> findByTag('footer');
?>

 <nav>
     <ul>
         <? foreach ($menu as $item): ?>
         <li>
             <a href="<?= $item -> getHref() ?>"><?= $item -> getLabel() ?></a>
         </li>
         <? endforeach; ?>
     </ul>
 </nav>
