<?
$menu = $this -> navigation('Navigation') -> findByTag('main');
?>

<nav class="twelve columns alpha" role="navigation">
    <ul class="clearfix hidden-phone">
        <? foreach ($menu as $item): ?>
        <li>
            <a href="<?= $item -> getHref() ?>" data-mobile-icon="<?= $item -> getMobileClass(); ?>" >
                <span class="<?= $item -> getClass() ?>"><?= $item -> getLabel() ?></span>
            </a>
        </li>

        <? endforeach ?>
    </ul>
</nav>