<?
    $this -> headTitle($form -> getName());

    $form
        -> setAttribute('action', $this -> url($form -> getFormAction(), [ 'navigation_item_id' => $navItemId ]))
        -> prepare();

    echo $this -> form() -> openTag($form);
?>
    <legend><?= $this -> escapeHtml($form -> getName()) ?></legend>

    <? $tagId = $form -> get('tag_id'); ?>
    <label><?= $this -> formLabel($tagId) ?></label>
    <?
        echo $this -> formSelect($tagId);
        echo $this -> formElementErrors($tagId, array('class' => 'errors'));

        echo $this -> formHidden($form -> get('navigation_item_id'));

        $csrf = $form -> get('csrf');
        echo $this -> formHidden($csrf);
    ?>
    <hr>
    <?
        echo $this -> formSubmit($form -> get('submit'));
        echo $this -> formElementErrors($csrf, array('class' => 'errors'));

    echo $this -> form() -> closeTag($form);

