<?
    $this -> headTitle('Tags');
?>
<p>
    <a class="btn btn-mini"
       href="<?= $this -> url('manage_navigation/taxonomy/attach_tag/send', ['navigation_item_id' => $navItemId]) ?>">
        <i class="icon-plus-sign"></i> Attach Tag
    </a>
</p>

<table class="table table-striped">
    <tr>
        <th>Tags</th>
        <th>Action</th>
    </tr>

<? foreach ($entities as $entity): ?>
        <tr>
            <td>
                <?= $entity['tag'] ?>
            </td>
            <td>
                <a class="btn btn-mini btn-danger"
                   href="<?= $this -> url('manage_navigation/taxonomy/detach_tag', [
                       'id' => $entity['id'],
                       'navigation_item_id' => $navItemId
                   ]) ?>">
                    <i class="icon-remove-sign icon-white"></i> Detach
                </a>
            </td>
        </tr>
    <? endforeach; ?>
</table>
