<?php
    echo $this->doctype();
    $displayLang = \Locale::getPrimaryLanguage(\Locale::getDefault());
?>

<!--[if IE 7 ]><html class="ie ie7" lang="<?= $displayLang ?>"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="<?= $displayLang ?>"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="<?= $displayLang ?>"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="<?= $displayLang ?>"> <!--<![endif]-->
<!--[if !IE]><!-->
    <script>if(/*@cc_on!@*/false){document.documentElement.className+=' ie ie10';}</script>
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="google-site-verification" content="oCfP9YplmFPpqtU3yZ3J8XERp8rXca0WHe93G2kPbGQ" />
    <meta name='yandex-verification' content='6747faa8efca9497' />
    <?
        echo $this -> headTitle($this -> translate('Sanatorium Arkadia')) -> setSeparator(' - ') -> setAutoEscape(false) . PHP_EOL;
        echo $this -> headMeta() -> appendName('viewport', 'width=device-width, initial-scale=1.0') . PHP_EOL;

        $this -> headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this -> basePath() . '/img/ico/favicon.ico'));
        $this -> headLink(array('rel' => 'apple-touch-icon-precomposed', 'sizes' => '144x144', 'href' => $this -> basePath() . '/img/ico/apple-touch-icon-144.png'));
        $this -> headLink(array('rel' => 'apple-touch-icon-precomposed', 'sizes' => '114x114', 'href' => $this -> basePath() . '/img/ico/apple-touch-icon-114.png'));
        $this -> headLink(array('rel' => 'apple-touch-icon-precomposed', 'sizes' => '72x72', 'href' => $this -> basePath() . '/img/ico/apple-touch-icon-72.png'));
        $this -> headLink(array('rel' => 'apple-touch-icon-precomposed', 'href' => $this -> basePath() . '/img/ico/apple-touch-icon-57.png'));
        $this -> headLink(array('rel' => 'author', 'href' => $this -> basePath() . '/humans.txt'));
        $this -> headLink()
            -> offsetSetStylesheet(10, $this -> basePath() . '/css/layout.min.css')
//            -> offsetSetStylesheet(10, $this -> basePath() . '/css/layout.uncompressed.css');
//            -> offsetSetStylesheet(7, $this -> basePath() . '/css/base.css')
//            -> offsetSetStylesheet(8, $this -> basePath() . '/css/skeleton.css')
            -> offsetSetStylesheet(9, $this -> basePath() . '/scripts/min/dijit/themes/claro/claro.css');
//            -> offsetSetStylesheet(10, $this -> basePath() . '/css/layout.css');
        echo $this -> headLink() . PHP_EOL;
    ?>
    <script src="<?= $this -> basePath('/scripts/modernizr-2.6.2.js') ?>"></script>
    <script src="<?= $this -> basePath('/scripts/min/dojo/dojo.js') ?>" data-dojo-config="async: true, locale: '<?= strtolower(\Locale::getPrimaryLanguage(\Locale::getDefault())) ?>'"></script>
</head>
<body class="claro">

<div class="container">

<header>
    <div id="logo" class="four columns omega" role="banner">
        <h1 class="hide-text"><?= $this -> translate('Arkadia'); ?></h1>
        <p>
            <?= $this -> translate('Therapeutic recreation complex'); ?>
        </p>
        <?= $this -> multilingualWidget(false) ?>
    </div>

    <?= $this -> mainMenuWidget() ?>

</header>

<div class="content-wrapper clearfix">

    <?= $this->content; ?>

    <aside>
    <?
        echo $this -> quickReservationWidget();
        echo $this -> asideMenuWidget();
    ?>
    </aside>

</div><!-- .content-wrapper -->


<footer role="contentinfo" class="sixteen columns">
    <div id="contacts" class="clearfix" itemscope itemtype="http://schema.org/Organization">
        <p class="contacts-title">
            <span class="title"><?= $this -> translate('Our contacts')?>:</span>
            <span itemprop="name"><?= $this -> translate('Sanatorium Arkadia') ?></span>
        </p>
        <p class="location ukraine-icon" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="postalCode">82482</span>,
            <?= $this -> translate('Lviv region') ?><br>
            <span itemprop="addressLocality"><?= $this -> translate('Morshyn') ?></span>,
            <span itemprop="streetAddress"><?= $this -> translate('3 Dzerelna Str.')?></span>
        </p>

        <p class="phone nav-icons-phone">
            <span itemprop="faxNumber">+38(03260) 6-04-17</span><br>
            <span itemprop="telephone">+38(063) 843-93-65</span>
        </p>

        <p class="email nav-icons-mail">
            <span itemprop="email">info(at)arkadya.com.ua</span><br>
            <span itemprop="email">arkadya-hotel(at)mail.ru</span>
        </p>
    </div>

    <nav>
        <?= $this -> footerMenuWidget() ?>
    </nav>

</footer>

</div><!-- .container -->
<?
    echo $this -> startupBannerScript();

    if (!$this -> inlineScript() -> offsetExists(1)):
        $this -> inlineScript() -> offsetSetFile(1, $this->basePath() . '/scripts/min/app/main.js');
    endif;
    echo $this -> inlineScript();
?>


<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26998528-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>