<?
    $this -> headTitle($form -> getName());
    $roleId = $form -> get('role_id') -> getValue();

    $form
        -> setAttribute('action', $this -> url($form -> getActionRouteName(), ['role_id' => $roleId]))
        -> prepare();

    echo $this -> form() -> openTag($form);
?>
    <legend><?= $this -> escapeHtml($form -> getName()); ?></legend>
<?
    echo $this -> formHidden($form -> get('role_id'));

    $resource = $form -> get('resource');
?>
    <label><?= $this -> formLabel($resource); ?></label>
<?
    echo $this -> formSelect($resource);
    echo $this -> formElementErrors($resource, array('class' => 'errors'));
?>
    <hr>
<?
    $csrf = $form -> get('csrf');
    echo $this -> formHidden($csrf);

    echo $this -> formSubmit($form -> get('submit'));
    echo $this -> formElementErrors($csrf, array('class' => 'errors'));

echo $this -> form() -> closeTag($form);