<table class="table table-striped">

    <tr>
        <th>Roles</th>
        <th>Actions</th>
    </tr>

    <? foreach ($roles as $role): ?>
    <tr>
        <td>
            <?= $role['role'] ?>
        </td>
        <td>
            <a class="btn btn-mini"
               href="<?= $this -> url('manage_permissions/manage', ['role_id' => $role['id']]) ?>"
                    >
                <i class="icon-folder-open"></i>&nbsp;View
            </a>
        </td>
    </tr>
    <? endforeach; ?>

</table>