<?
    $headTitle = "Manage {$role -> getRole()} permissions";
    $this -> headTitle($headTitle);
?>

<h3><?= $headTitle ?></h3>
<p>
    <a class="btn btn-mini"
       href="<?= $this -> url('manage_permissions/add/send', ['role_id' => $role -> getId()]) ?>">
        <i class="icon-plus-sign"></i> Add Permission
    </a>
</p>

<table class="table table-striped">

    <tr>
        <th>Route</th>
        <th>Actions</th>
    </tr>
    <? foreach ($routes as $route): ?>
    <tr>
        <td>
            <?= $route['resource'] ?>
        </td>
        <td>
            <a class="btn btn-mini btn-danger"
               href="<?= $this -> url('manage_permissions/delete/send',
                            ['id' => $route['id'], 'role_id' => $route['role_id']]) ?>"
                    >
                <i class="icon-remove-sign icon-white"></i>&nbsp;Delete
            </a>
        </td>
    </tr>
    <? endforeach; ?>

</table>
