<?= $this->doctype(); ?>

<html lang="<?= \Locale::getPrimaryLanguage(\Locale::getDefault()) ?>">
    <head>
        <meta charset="utf-8">
        <?
            echo $this
                -> headTitle('ZF2 '. $this->translate('Skeleton Application'))
                -> setSeparator(' - ')
                -> setAutoEscape(false);

            echo $this
                -> headMeta()
                -> appendName('viewport', 'width=device-width, initial-scale=1.0')
                -> appendName('robots', 'noindex,nofollow');

            // Styles
            echo $this
                -> headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/images/favicon.ico'))
                -> prependStylesheet($this->basePath() . '/css/style.css')
                -> prependStylesheet($this->basePath() . '/css/bootstrap.min.css');

            // Scripts
            $this -> headScript() -> prependFile($this -> basePath() . '/scripts/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',));
//            $this -> headScript() -> offsetSetFile(2, $this->basePath() . '/scripts/dojo/dojo.js');
            echo $this -> headScript();
        ?>
        <script src="<?= $this -> basePath('/scripts/min/dojo/dojo.js') ?>" data-dojo-config="async: true, locale: '<?= strtolower(\Locale::getPrimaryLanguage(\Locale::getDefault())) ?>'"></script>
    </head>
    <body>

    <div id="wrap">
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">

                    <ul class="nav">
                        <li>
                            <a title="<?= $this -> translate('Go to site') ?>"
                               href="<?= $this -> url('home') ?>">
                                <i class="icon-share-alt icon-white"></i>&nbsp;<?= $this -> translate('Go to site') ?>
                            </a>
                        </li>
                        <li>
                            <a title="<?= $this -> translate('Dashboard') ?>"
                               href="<?=$this -> url('admin') ?>">
                                <i class="icon-home icon-white"></i>&nbsp;<?= $this -> translate('Dashboard'); ?>
                            </a>
                        </li>
                    </ul>

                    <div class="nav pull-right">
                        <p class="navbar-text">
                        <a class="navbar-link"
                               title="<?= $this -> translate('Log out') ?>"
                               href="<?= $this -> url('logout'); ?>">
                                <i class="icon-off icon-white"></i>&nbsp;<?= $this -> translate('Log out') ?>
                            </a>
                        </p>
                        </div>

                    </div><!--/.nav-collapse -->
                </div>
            </div>


            <div class="container-fluid">

                <div class="row-fluid under-navbar">
                    <div class="span3">
                        <div class="well well-small sidebar-nav">

                            <ul class="nav nav-list">
                                <li>
                                    <?= $this -> multilingualWidget() ?>
                                </li>
                                <li class="divider"></li>

                                <?= $this -> adminNavigationWidget() ?>

                            </ul>

                        </div>
                    </div>

                    <div class="span9">
                    <?
                        echo $this -> flashMessengerWidget();
                        echo $this->content;
                    ?>
                    </div>
                </div>

            </div> <!-- /container -->

            <div id="push"></div>
        </div><!-- /wrap -->

        <footer>
            <hr>
            <p>&copy; 2005 - 2012 by Zend Technologies Ltd. <?= $this->translate('All rights reserved.') ?></p>
        </footer>

        <script defer src="<?= $this -> basePath(); ?>/scripts/scripts.js"></script>
        <?= $this->inlineScript() ?>
    </body>
</html>
