<?php
    $this -> headTitle($form -> getName());

    $id = null;
    if ( $form -> has('id')):
        $id = $form -> get('id') -> getValue();
    endif;

    $form
        -> setAttribute('action', $this -> url($id ? 'pages/edit/edit_data' : 'pages/create/set_data', array('id' => $id)))
        -> prepare();

    echo $this -> form() -> openTag($form);

    if ( $form -> has('id') ):
        echo $this -> formHidden($form -> get('id'));
        echo $this -> formHidden($form -> get('translation_id'));
    endif;
?>
    <legend><?= $this -> escapeHtml($form -> getName()) ?></legend>

    <? $title = $form -> get('title') ?>
    <label><?= $this -> formLabel($title) ?></label>
    <?
        echo $this -> formInput($title);
        echo $this -> formElementErrors($title, array('class' => 'errors'));
    ?>

    <? $headTitle = $form -> get('head_title') ?>
    <label><?= $this -> formLabel($headTitle) ?></label>
    <?
        echo $this -> formInput($headTitle);
        echo $this -> formElementErrors($headTitle, array('class' => 'errors'));
    ?>

    <? $author = $form -> get('meta_author') ?>
    <label><?= $this -> formLabel($author) ?></label>
    <?
        echo $this -> formInput($author);
        echo $this -> formElementErrors($author, array('class' => 'errors'));
    ?>

    <? $description = $form -> get('meta_description') ?>
    <label><?= $this -> formLabel($description) ?></label>
    <?
        echo $this -> formTextarea($description);
        echo $this -> formElementErrors($description, array('class' => 'errors'));
    ?>

    <? $cssClass = $form -> get('css_class') ?>
    <label><?= $this -> formLabel($cssClass) ?></label>
    <?
        echo $this -> formInput($cssClass);
        echo $this -> formElementErrors($cssClass, array('class' => 'errors'));
    ?>

    <? $content = $form -> get('preparsed_content') ?>
    <label><?= $this -> formLabel($content) ?></label>
    <?
        echo $this -> formTextarea($content);
        echo $this -> formElementErrors($content, array('class' => 'errors'));

        $csrf = $form -> get('csrf');
        echo $this -> formHidden($csrf);
    ?>
    <hr>
    <?
        echo $this -> formSubmit($form -> get('submit'));
        echo $this -> formElementErrors($csrf, array('class' => 'errors'));

    echo $this -> form() -> closeTag($form);
?>

