<?
$pageTitle = 'Delete page';
$this -> headTitle($pageTitle);
?>
<h1>
    <?= $pageTitle ?>
</h1>
<p>
    <?= $this -> translate('Are you sure that you want to delete Page:') ?>
    '<?= $this -> escapeHtml($page -> getTitle()); ?>' ?
</p>
<hr>
<form action="<?= $this -> url('pages/delete', array('id' => $page -> getId())) ?>"
      method="post">

    <input name="id" value="<?= $this -> escapeHtml($page -> getId()) ?>" type="hidden">
    <input class="btn btn-danger" name="confirm" value="yes" type="submit">
    <input class="btn" name="confirm" value="no" type="submit">
</form>