<?
    $title = $this -> translate('Pages');
    $this -> headTitle($title);
?>

<p>
    <a class="btn btn-mini"
       href="<?= $this -> url('pages/create/set_data') ?>">
        <i class="icon-plus-sign"></i> Add Page
    </a>
</p>

<table class="table table-striped">
    <tr>
        <th>
            <?= $this -> translate('Title') ?>
        </th>
        <th>
            <?= $this -> translate('Alias') ?>
        </th>
        <th>
            <?= $this -> translate('Updated') ?>
        </th>
        <th>
            <?= $this -> translate('Action') ?>
        </th>
    </tr>

<?
if ( count($pages) ):
    foreach ($pages as $page):
?>
    <tr>
        <td>
            <?= $page -> getTitle() ?>
        </td>
        <td>
            <?= $page -> getCreated() ?>
        </td>
        <td>
            <?= $page -> getUpdated() ?>
        </td>
        <td>
            <a class="btn btn-mini" href="<?= $this -> url('page', array('alias' => $page -> getAlias())) ?>">
                <i class="icon-folder-open"></i> View
            </a>&nbsp;

            <a class="btn btn-mini btn-info" href="<?= $this -> url('pages/edit/edit_data', array('id' => $page -> getId())) ?>">
                <i class="icon-edit icon-white"></i> Edit
            </a>&nbsp;

            <a class="btn btn-mini btn-danger"
               href="<?= $this -> url('pages/delete', array('id' => $page -> getId())) ?>">
                <i class="icon-remove-sign icon-white"></i> Delete
            </a>
        </td>
    </tr>

<?
    endforeach;
endif;
?>

</table>
