<?
    $this -> headTitle($page -> getHeadTitle());
    $this -> headMeta()
        -> appendName('description', $page -> getMetaDescription())
        -> appendName('author', $page -> getMetaAuthor());
?>

<section id="content" role="main" class="twelve columns alpha">
<?
    $cssClass = $page -> getCssClass();
    if ( $cssClass ):
        echo "<div class=\"{$cssClass}\">";
    endif;

    echo $page -> getContent();

    if ( $cssClass ):
        echo '</div>';
    endif;
?>
</section>