<?
    $this -> headTitle($form -> getName());

    $id = null;
    if ( $form -> has('id')):
        $id = $form -> get('id') -> getValue();
    endif;

    $form
        -> setAttribute('action', $this -> url($form -> getFormAction(), ['id' => $id]))
        -> prepare();

    echo $this -> form() -> openTag($form);
?>
    <legend><?= $this -> escapeHtml($form -> getName()) ?></legend>

    <? $tag = $form -> get('tag'); ?>
    <label><?= $this -> formLabel($tag) ?></label>
    <?
        echo $this -> formInput($tag);
        echo $this -> formElementErrors($tag, array('class' => 'errors'));

        if ( $form -> has('id') ):
            echo $this -> formHidden($form -> get('id'));
        endif;

        $csrf = $form -> get('csrf');
        echo $this -> formHidden($csrf);
    ?>
    <hr>
    <?
        echo $this -> formSubmit($form -> get('submit'));
        echo $this -> formElementErrors($csrf, array('class' => 'errors'));

    echo $this -> form() -> closeTag($form);

