<?
    $this -> headTitle($form -> getName());
?>
<h1>
    <?= $form -> getName() ?>
</h1>
<p>
    <?= $this -> translate('Are you sure you want to delete this tag:') ?>
    '<?= $form -> get('tag') -> getValue(); ?>' ?
</p>
<hr>
<?
    $id = $form -> get('id') -> getValue();
    $form
        -> setAttribute('action', $this -> url($form -> getActionRouteName(), ['id' => $id]))
        -> prepare();

    echo $this -> form() -> openTag($form);

        $id = $form -> get('id');
        echo $this -> formHidden($id);

        echo $this -> formHidden($form -> get('tag'));

        $csrf = $form -> get('csrf');
        echo $this -> formHidden($csrf);

        $submit = $form -> get('confirm');
        echo $this -> formSubmit($submit);

        echo '&nbsp;';

        $submit -> setValue('no') -> setAttribute('class', 'btn');
        echo $this -> formSubmit($submit);

        echo $this -> formElementErrors($id, ['class' => 'errors']);
        echo $this -> formElementErrors($csrf, ['class' => 'errors']);

    echo $this -> form() -> closeTag($form);
