<? $this -> headTitle('Tags'); ?>
<p>
    <a class="btn btn-mini"
       href="<?= $this -> url('manage_navigation_tags/add/send') ?>">
        <i class="icon-plus-sign"></i> Add Tag
    </a>
</p>

<table class="table table-striped">
    <tr>
        <th>Tags</th>
        <th>Action</th>
    </tr>

<? foreach ($entities as $entity): ?>
        <tr>
            <td>
                <?= $entity['tag'] ?>
            </td>
            <td>
                <a class="btn btn-mini btn-info"
                   href="<?= $this -> url('manage_navigation_tags/edit/send', ['id' => $entity['id']]) ?>">
                    <i class="icon-edit icon-white"></i> Edit
                </a>&nbsp;

                <a class="btn btn-mini btn-danger"
                   href="<?= $this -> url('manage_navigation_tags/delete/send', ['id' => $entity['id']]) ?>">
                    <i class="icon-remove-sign icon-white"></i> Delete
                </a>
            </td>
        </tr>
    <? endforeach; ?>
</table>
