<?php
$title = $this -> translate('Residence images');
$this -> headTitle($title);

echo $this -> flashMessengerWidget();
?>

<p>
    <a class="btn btn-info"
       href="<?= $this -> url('manage_residence/images_list/upload', array('type_id' => $typeId)) ?>">
        <i class="icon-upload icon-white"></i> Upload image
    </a>
</p>

<? if (count($images)): ?>
<ul class="thumbnails">
    <? foreach ( $images as $image ): ?>
    <li class="span2 text-center">
        <? $pi = pathinfo($image); ?>
        <a class="thumbnail" href="<?= $uploadPath . '/' . $pi['basename'] ?>">
            <img src="<?= $uploadPath . '/' . $thumbDir . '/' . $pi['basename'] ?>" alt="">
        </a>
        <a class="btn btn-mini btn-danger"
           href="<?= $this -> url('manage_residence/images_list/remove', array('type_id' => $typeId, 'filename' => $pi['filename'])) ?>">
            <i class="icon-remove icon-white"></i> Remove
        </a>
    </li>
    <? endforeach ?>
</ul>
<? endif ?>
