<?php
    $this -> headTitle($form -> getName());
    echo $this -> flashMessengerWidget();

    $form -> prepare();
    echo $this -> form() -> openTag($form);
?>
    <legend><?= $this -> escapeHtml($form -> getName()) ?></legend>

    <? $imageFile = $form -> get('image_file'); ?>
    <label><?= $this -> formLabel($imageFile) ?></label>
<?
    echo $this -> formFile($imageFile);
    echo $this -> formElementErrors($imageFile, array('class' => 'errors'));

    echo $this -> formHidden($form -> get('type_id'));

    $csrf = $form -> get('csrf');
    echo $this -> formHidden($csrf);
?>
    <hr>
<?
    echo $this -> formSubmit($form -> get('submit'));
    echo $this -> formElementErrors($csrf, array('class' => 'errors'));

    echo $this -> form() -> closeTag($form);