<?
    $this -> inlineScript() -> offsetSetFile(3, $this->basePath() . '/scripts/app/slider.js');

    $this -> headTitle($this -> translate('Morshin resort, rest in a Morshin sanatoriums, photos, reviews - sanatorium Arcadia'));
    $this -> headMeta() -> appendName('description', $this -> translate('Arcadia sanatorium - health complex in Morshin. Vacation at a resort in the Morshina sanatoriums. Rooms photos. Affordable prices. Treatment. Nutrition. Tel. +38(03260)04-06-17'));
?>

<div id="slider" class="image-gallery twelve columns alpha">
    <img class="scale-with-grid visible" src="<?= $this -> basePath() ?>/img/1.jpg" alt="" />
</div><!-- .image-gallery -->

<div role="main" class="sixteen columns index-content-box">

    <section class="rest-box">
        <div class="box-image"></div>
        <h1>
            <?= $this -> translate('Rest'); ?>
        </h1>
        <p class="box-content">
            <?= $this -> translate('You will have the opportunity to enjoy the strong taste of fragrant Italian coffee in our cafe Dejavu');?>
        </p>
    </section>

    <section class="residence-box">
        <div class="box-image" aria-hidden="true"></div>
        <h1>
            <?= $this -> translate('Residence');?>
        </h1>
        <p class="box-content">
            <?= $this -> translate('Affordable and the best in quality and comfort rooms');?>
        </p>
    </section>

    <section class="treatment-box">
        <div class="box-image" aria-hidden="true"></div>
        <h1>
            <?= $this -> translate('Treatment');?>
        </h1>
        <p class="box-content">
            <?= $this -> translate('Spa treatments, which have no analogues in the world');?>
        </p>
    </section>

    <section class="children-box" aria-hidden="true">
        <div class="box-image"></div>
        <h1>
            <?= $this -> translate('For children');?>
        </h1>
        <p class="box-content">
            <?= $this -> translate("For the little ones we have are equipped with a children's room and playground");?>
        </p>
    </section>

    <section class="sport-box" aria-hidden="true">
        <div class="box-image"></div>
        <h1>
            <?= $this -> translate('Sport');?>
        </h1>
        <p class="box-content">
            <?= $this -> translate('For lovers of sport and physical education we offer to our gym');?>
        </p>
    </section>
</div>
