<?
    $this -> headTitle($form -> getName());

    $form
        -> setAttribute('action', $this -> url($form -> getActionRouteName()))
        -> prepare();
?>
<?= $this -> form() -> openTag($form) ?>

    <fieldset>
        <legend><?= $form -> getName() ?></legend>

        <? $csrf = $form -> get('csrf') ?>
        <?= $this -> formHidden($csrf) ?>

        <? $isVisible = $form -> get('is_visible') ?>
        <label class="checkbox" for="<?= $isVisible -> getAttribute('id') ?>">
            <?= $this -> formCheckbox($isVisible) ?> <?= $isVisible -> getLabel() ?>
        </label>
        
        <div id="upload-banner-container">

            <img src="<?= $startupBannerFilename ?>" class="img-polaroid">

            <? $uploadBanner = $form -> get('upload_banner') ?>
            <?= $this -> formFile($form -> get('upload_banner')) ?>
            <?= $this->formElementErrors($uploadBanner, array('class' => 'errors')); ?>
        </div>

        <div class="form-actions" id="buttons-panel">
            <?= $this -> formButton($form -> get('submit')) ?>
            <?= $this -> formButton($form -> get('cancel')) ?>
        </div>

        <?= $this -> formElementErrors($csrf, array('class' => 'errors')) ?>
    </fieldset>

<?= $this -> form() -> closeTag($form) ?>

<script>

    require(['dojo/on', 'dojo/domReady!'], function(on) { "use strict";

        var switchNode = document.getElementById('visibility-switch');
        var uploadImgContainerNode = document.getElementById('upload-banner-container');

        var toggleVisibility = function() {
            uploadImgContainerNode.style.display = switchNode.checked ? '': 'none';
        };

        on(switchNode, 'click', toggleVisibility);
        toggleVisibility();

    });

</script>

<? $this -> inlineScript() -> captureStart() ?>

    require(['dojo/on', 'dojo/cookie', 'dojo/domReady!'], function(on, cookie) { "use strict";

        var node = document.getElementById('buttons-panel');
        node.insertAdjacentHTML('beforeEnd', '<button type="button" id="remove-cookie" class="btn">Remove cookie</button>');

        on(document.getElementById('remove-cookie'), 'click', function() {

            cookie('bannerShown', false, { expires: 0, path: '/' });
            alert('cookie was removed');

        });
    });

<? $this -> inlineScript() -> captureEnd() ?>